  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Shadows+Into+Light+Two&display=swap');


/* 
font-family: 'Poppins', sans-serif;
font-family: 'Shadows Into Light Two', cursive;
*/
 /* :root {
   --animate-duration: 2s; 
  --animate-delay: 5s;
} */

/* *{
  border: .5px solid rgb(209, 13, 13);
}  */
.space{
  height:200px;
}
body{
  font-family:'Poppins', sans-serif;
}
#root {
  margin: 0 auto;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family:'Poppins', sans-serif;
  
}
.chevron{
  filter: invert(94%) sepia(94%) saturate(24%) hue-rotate(55deg) brightness(106%) contrast(105%);
}
.chevron:hover{
  filter: invert(27%) sepia(95%) saturate(2828%) hue-rotate(205deg) brightness(103%) contrast(108%);
}  
.main--container{
  background: linear-gradient(135deg, #11012b, #11012d, #120134, #12023f, #10024b, #0c0359, #050468, #050d76, #061982, #07238d, #082b94, #082e96);
  background-size: cover;
  width:100%;
  /* background: linear-gradient(
    125deg, 
    #20023a 0%, #2a0269 40%, #0a38b8 75%, #0854b8 100%
  ); */
  background-size: 200%;
  animation: bg-animation 15s infinite alternate;
}

@keyframes bg-animation {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}


.shadow{
  filter: drop-shadow(3px 0px 15px rgba(0, 0, 0, 0.8));
  border-radius: 20px;
}
.logo {
  height: 7rem;
  transition: all 500ms ease-in-out;
  filter: drop-shadow(3px 4px 5px rgba(0, 0, 0, 0.8));
}

.bounce {
  animation: bounce 1.75s 1 ease-in alternate;
  top:50%;
}

/* Down, up,  */
    @keyframes bounce {
        0%   { transform: translateY(-150px); } 
        20%  { transform: translateY(5px) scaleX(1.1); }
        40%  { transform: translateY(-12px); }
        55%  { transform: translateY(2px) scaleX(1.02); }
        70%  { transform: translateY(-6px); }
        80%  { transform: translateY(0px); }
        90%  { transform: translateY(-3px); }
        100% { transform: translateY(0); }
    }
/* .bitmoji{
  filter: drop-shadow(8px 8px 5px #252525 );


    position: relative;
    left: -1500px;
    -webkit-animation: slide 2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 2s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
} */
.bitmoji{
  filter: drop-shadow(8px 8px 5px #080418);
  width: 350px;
  
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 500ms;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-delay: 500ms;
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}
.medium
/*!---------------------NAV BAR-------------------- */
.header{
  height: 150px;
}
.navbar--container{
  background: radial-gradient(circle at 50% 50%, 
  #212529, #1e2225, 
  #1b1e21, #191b1e, 
  #16181a, #131416, 
  #0f1112, #0a0c0d, 
  #050607, #000000);
 border-radius: 30px;
}
.menu--link{
  transition: all 300ms ease-in-out;
  margin-bottom: 4px;
  border-bottom: 2px solid rgba(2, 136, 209, 0);
  line-height: 25px;
}

.menu--link:hover {
  filter: drop-shadow(1px 1px 1px rgb(2, 136, 209));
  border-bottom: 2px solid rgb(2, 136, 209);
}
.hamburger{
  justify-content: end;
}
/*!---------------------HOME----------------------- */
.title{
  text-align: center;
  background: -webkit-linear-gradient(rgb(78, 186, 248), rgb(238, 152, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 2px black);
}
.title2{
  text-align: center;
  background: -webkit-linear-gradient(rgb(3, 104, 255), rgb(255, 0, 242));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(1.5px 2px 1px black);
}
.subtitle{
  background: -webkit-linear-gradient(rgb(78, 186, 248), rgb(238, 152, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(1px 1px 1px black);
  font-family: 'Poppins', sans-serif;
}
.title-dark-bg{
  filter: drop-shadow(.75px .75px 1px black);
  background: -webkit-linear-gradient(rgb(134, 207, 250), rgb(228, 182, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 500px){
  .bitmoji{
    width: 80%;
  }



}

/*! ----------------- INTRO -------------------  */
section {
  height: 100dvh;
}
/*! ---------------- TECH SKILLS---------------- */
.skills--wrapper{
  border-radius: 10px;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, .8));
  background: radial-gradient(circle at 50% 50%, 
  #212529, #1e2225, 
  #1b1e21, #191b1e, 
  #16181a, #131416, 
  #0f1112, #0a0c0d, 
  #050607, #000000);

}
.skills--container{
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  
}

.skill{
  filter: drop-shadow(8px 6px 3px rgba(0, 0, 0, .8));
  transition: all 200ms ease-in-out;
}

.skill:hover{
  transform:scale(1.15);
}
/*! ----------------- FOOTER ------------------- */
.footer{
  
}
/*! ------------------ ICONS ------------------- */
.medium{
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%); 
  margin: 22px 0;
  transition: all 200ms ease-in-out;
}
.medium:hover{
  transform: scale(1.1);
}
.logo-div{
  position: fixed;
  width: 150px;
  height:150px;
  align-content: center;
  top: 0px;
  left: 0px;
  z-index: 2001;
}
.icon-div{
  background: radial-gradient(circle at 50% 50%, 
  #212529, #1e2225, 
  #1b1e21, #191b1e, 
  #16181a, #131416, 
  #0f1112, #0a0c0d, 
  #050607, #000000);
  position: fixed;
  width: 150px;
  height:100dvh;
  display: flex;
  justify-content: start;
  align-content: center;
  flex-direction: column;
  top: 0px;
  left: 0px;
  z-index: 2000;
}
.icon{
  transition: all 200ms ease-in-out;
  z-index: 105;
  filter: drop-shadow(1px 1px 4px black);
  margin: 20px 0; 
}
.icon:hover{
  transform: scale(1.15);
}
/*! ------------------ABOUT--------------------- */
.about{
    background: linear-gradient(150deg,   
  #ffbfe2, #fdbce1, 
  #f6b5dd, #ebaad8, 
  #dc9cd3, #cb8fce, 
  #b781c9, #a275c4, 
  #8d6bc0, #7b63bd, 
  #6d5fbb, #685dba
  );
  
}
.tech{
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, .7));
}
.resume--btn:hover{
  color: white;
}
/*! ------------------PROJECTS--------------------- */

.project--img{
  transition: all 500ms ease-in-out;
  margin: 0 auto;
}
.project--img:hover{
 transform: scale(1.05);
}

.card--style{
  background: #000000;
}
.cards:hover{
  transform: scale(1.05);
}

.top--layer {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: #04AA6D;
}

.cards:hover .top--layer {
  opacity: 1;
  
}
@media screen and (max-width: 1000px){
  .icon-div{
    border-radius: 100px;
    position: fixed;
    margin: 15px;
    width: 350px;
    height:70px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: row;
    top: 87%;
    left: 1%;
    z-index: 100;
  }
  .icon{
    filter: drop-shadow(0px 0px 1px black);
    margin:0;
  }
  .logo {
    height: 4rem;
    transition: all 500ms ease-in-out;
    filter: drop-shadow(3px 4px 5px rgba(0, 0, 0, 0.8));
  }
  .medium{
    margin:0;
  }
}
@media screen and (max-width: 700px){
  .course--frame{
    height: 340px;
    width: 90%;
    margin:0;
    padding:0;
  }

  .title{
    filter: drop-shadow(1px 1px .25px black);
  }
  .subtitle{
    filter: drop-shadow(.75px .75px .10px black);
  }
} 
@media screen and (max-width: 500px){
  .course--frame{
    height: 340px;
    width: 90%;
    margin:0;
    padding:0;
  }

}
@media screen and (max-width: 400px){
  .course--frame{
    height: 200px;
    width: 90%;
    margin:0;
    padding:0;
  }

} 
@media screen and (max-width: 250px){
  .course--frame{
    height: 200px;
    width: 90%;
    margin:0;
    padding:0;
  }
   .cards{
    height: 100px;
    
  }
} 
/* !--------------------MEDIA------------------------- */
@media screen and (max-width: 750px){

  .video{
    width: 320px;
    height: 180px;
  }
}

@media screen and (max-width: 350px){
  .media--container{
    padding:0; 
  }  
  .video{
    width: 240px;
    height: 135px;
  }
}
/*! ------------- CONTACT --------------------------- */

/*! -----------ERROR 404 PAGE------------------------ */
@media screen and (max-width: 500px){
  .error{
    width: 280px;
  }
}