  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Shadows+Into+Light+Two&display=swap');


/* 
font-family: 'Poppins', sans-serif;
font-family: 'Shadows Into Light Two', cursive;
*/
 /* :root {
   --animate-duration: 2s; 
  --animate-delay: 5s;
} */

/* *{
  border: .5px solid rgb(209, 13, 13);
}  */

body{
  font-family:'Poppins', sans-serif;
}
#root {
  margin: 0 auto;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family:'Poppins', sans-serif;
  
}
.chevron{
  filter: invert(94%) sepia(94%) saturate(24%) hue-rotate(55deg) brightness(106%) contrast(105%);
}
.chevron:hover{
  filter: invert(27%) sepia(95%) saturate(2828%) hue-rotate(205deg) brightness(103%) contrast(108%);
}  

.shadow{
  filter: drop-shadow(3px 0px 15px rgba(0, 0, 0, 0.8));
  border-radius: 20px;
}

.bounce {
  animation: bounce 1.75s 1 ease-in alternate;
  top:50%;
}

/* Down, up,  */
    @keyframes bounce {
        0%   { transform: translateY(-150px); } 
        20%  { transform: translateY(5px) scaleX(1.1); }
        40%  { transform: translateY(-12px); }
        55%  { transform: translateY(2px) scaleX(1.02); }
        70%  { transform: translateY(-6px); }
        80%  { transform: translateY(0px); }
        90%  { transform: translateY(-3px); }
        100% { transform: translateY(0); }
    }
/* .bitmoji{
  filter: drop-shadow(8px 8px 5px #252525 );


    position: relative;
    left: -1500px;
    -webkit-animation: slide 2s forwards;
    -webkit-animation-delay: 2s;
    animation: slide 2s forwards;
    animation-delay: 2s;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
} */
.bitmoji{
  filter: drop-shadow(8px 8px 5px #080418);
  width: 350px;
  
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}
@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: 500ms;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    -webkit-animation-delay: 500ms;
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/*!---------------------NAV BAR-------------------- */
.header{
  height: 100px;
}
.navbar--container{
  background: radial-gradient(circle at 50% 50%, 
  #212529, #1e2225, 
  #1b1e21, #191b1e, 
  #16181a, #131416, 
  #0f1112, #0a0c0d, 
  #050607, #000000);
  border-radius: 30px;
  /* border: 1.5px solid rgb(2, 136, 255); */
  filter: drop-shadow(0px 0px 4px rgb(2, 136, 255, .8));
}
.menu--link{
  transition: all 300ms ease-in-out;
  margin: 4px 0;
  border-bottom: 2px solid rgba(2, 136, 209, 0);
  line-height: 30px;
}

.menu--link:hover {
  filter: drop-shadow(1px 1px 1px rgb(2, 136, 209));
  border-bottom: 2px solid rgb(2, 136, 209);
}
button.hamburger{
  background: -webkit-linear-gradient(45deg, rgb(12, 109, 255), rgb(153, 58, 172));
  border: none;
}
/*!---------------------HOME----------------------- */
.title{
  text-align: center;
  background: -webkit-linear-gradient(rgb(255,255,255), rgb(233, 207, 255), rgb(119, 205, 255), rgb(255,255,255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 2px black);
}
.title2{
  text-align: center;
  background: -webkit-linear-gradient(rgb(255,255,255), rgb(3, 104, 255), rgb(255, 0, 242), rgb(255,255,255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(1.5px 2px 1px black);
}
.subtitle{
  background: -webkit-linear-gradient(rgb(255,255,255), rgb(78, 186, 248), rgb(241, 171, 255), rgb(255,255,255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(1px 1px 1px black);
  font-family: 'Poppins', sans-serif;
}
.title-dark-bg{
  filter: drop-shadow(.75px .75px 1px black);
  background: -webkit-linear-gradient(rgb(255,255,255), rgb(134, 207, 250), rgb(228, 182, 255),rgb(255,255,255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 500px){
  .bitmoji{
    width: 80%;
  }



}

/*! ----------------- INTRO -------------------  */
section {
  height: 100dvh;
}
/*! ---------------- TECH SKILLS---------------- */
.skills--wrapper{
  border-radius: 10px;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, .8));
  background: radial-gradient(circle at 50% 50%, 
  #212529, #1e2225, 
  #1b1e21, #191b1e, 
  #16181a, #131416, 
  #0f1112, #0a0c0d, 
  #050607, #000000);

}
.skills--container{
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.skill{
  filter: drop-shadow(8px 6px 3px rgba(0, 0, 0, .8));
  transition: all 200ms ease-in-out;
}
.skill:hover{
  transform:scale(1.15);
}
/*! ----------------- FOOTER ------------------- */
.footer{
  
}
/*! ------------------ ICONS ------------------- */
.youtube{
  /* filter: invert(0%) sepia(100%) saturate(7433%) hue-rotate(65deg) brightness(114%) contrast(115%) invert(67%) sepia(10%) saturate(1822%) hue-rotate(291deg) brightness(99%) contrast(93%); */
  margin: 22px 0;
  transition: all 200ms ease-in-out;
}
.youtube:hover{
  transform: scale(1.1);
}
.logo-div{
  position: fixed;
  width: 150px;
  height:150px;
  align-content: center;
  top: 0px;
  left: 0px;
  z-index: 2001;
}
.logo {
  height: 7rem;
  transition: all 500ms ease-in-out;
  filter: drop-shadow(3px 4px 5px rgba(0, 0, 0, 0.8));
}


.icon-div{
  background: radial-gradient(circle at 50% 50%, 
  #212529, #1e2225, 
  #1b1e21, #191b1e, 
  #16181a, #131416, 
  #0f1112, #0a0c0d, 
  #050607, #000000);
  position: fixed;
  width: 150px;
  height:100dvh;
  display: flex;
  justify-content: start;
  align-content: center;
  flex-direction: column;
  top: 0px;
  left: 0px;
  z-index: 2000;
}
.icon{
  transition: all 200ms ease-in-out;
  z-index: 105;
  filter: drop-shadow(1px 1px 4px black);
  margin: 20px 0; 
}
.icon:hover{
  transform: scale(1.15);
}
/*! ------------------ABOUT--------------------- */
.about{
    background: linear-gradient(150deg,   
  #ffbfe2, #fdbce1, 
  #f6b5dd, #ebaad8, 
  #dc9cd3, #cb8fce, 
  #b781c9, #a275c4, 
  #8d6bc0, #7b63bd, 
  #6d5fbb, #685dba
  );
  
}
.tech{
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, .7));
}
.resume--btn:hover{
  color: white;
}
/*! ------------------PROJECTS--------------------- */

.project--img{
  transition: all 500ms ease-in-out;
  margin: 0 auto;
  filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, .5));

}
.project--img:hover{
 transform: scale(1.05);
}

.card--style{
  background: #000000;
}
.cards:hover{
  transform: scale(1.05);
}

/* .other--projects{
  background: linear-gradient(180deg, #b399ff, #ad9bff, #a79dff, #a29eff, #a0a4ff, #a2acff, #a4b5ff, #a6bdff, #a8c4ff, #a9ccff, #abd3ff, #addaff);
  transition: all 500ms ease-in-out;
} */
.other--projects{
  transition: 500ms ease-in-out;
} 
.other--projects:hover{
  background:  #abd3ff;
  background: #ffffff;
}
.top--layer {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background-color: #04AA6D;
}

.cards:hover .top--layer {
  opacity: 1;
  
}
@media screen and (max-width: 1150px){
  
  .icon-div{
    position: fixed;
    margin: auto;
    width: 100%;
    height:100px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    z-index: 10000;
    top:95%;
    bottom:0%;
  }
  .icon{
    filter: drop-shadow(0px 0px 1px black);
    margin:0 1rem;
  }
  .logo-div{
    width: 80px;   
    height:70px;
  }
  .logo {
    height: 3rem;
    transition: all 500ms ease-in-out;
    filter: drop-shadow(3px 4px 5px rgba(0, 0, 0, 0.8));
  }
  .youtube{
    margin:0 1rem;
  }
  .footer{
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 800px){
  .navbar--container{
    border-radius: 10px;
    width: 60dvw;
  }
}    
@media screen and (max-width: 700px){
  .course--frame{
    height: 340px;
    width: 90%;
    margin:0;
    padding:0;
  }
  .title{
    filter: drop-shadow(1px 1px .25px black);
  }
  .subtitle{
    filter: drop-shadow(.75px .75px .10px black);
  }
  .skills--container{
    gap: 0px;
  }
  .skill-icon{
    width: 40px;
    height: 40px;
  }
} 
@media screen and (max-width: 500px){
  .course--frame{
    height: 340px;
    width: 90%;
    margin:0;
    padding:0;
  }

}
@media screen and (max-width: 400px){
  .course--frame{
    height: 200px;
    width: 90%;
    margin:0;
    padding:0;
  }

} 
@media screen and (max-width: 250px){
  .course--frame{
    height: 200px;
    width: 90%;
    margin:0;
    padding:0;
  }
   .cards{
    height: 100px;
    
  }
} 
/* !--------------------MEDIA------------------------- */
@media screen and (max-width: 750px){

  .video{
    width: 320px;
    height: 180px;
  }
}

@media screen and (max-width: 350px){
  .media--container{
    padding:0; 
  }  
  .video{
    width: 240px;
    height: 135px;
  }
}
/*! ------------- CONTACT --------------------------- */

/*! -----------ERROR 404 PAGE------------------------ */
@media screen and (max-width: 500px){
  .error{
    width: 280px;
  }
}