@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Shadows+Into+Light+Two&display=swap');


html {
    scroll-behavior: smooth;
}
:root {
  font-family: 'Poppins', sans-serif;
  line-height: 1.25;
  color-scheme: light dark;
  color: rgb(250, 250, 250);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.bg{
  background: linear-gradient(135deg, #11012b, #11012d, #120134, #12023f, #10024b, #0c0359, #050468, #050d76, #061982, #07238d, #082b94, #082e96);
  background-size: cover;
  width:100%;
  /* background: linear-gradient(
    125deg, 
    #20023a 0%, #2a0269 40%, #0a38b8 75%, #0854b8 100%
  ); */
  background-size: 200%;
  animation: bg-animation 15s infinite alternate;
}
@keyframes bg-animation {
    0%{
        background-position: left;
    }
    100%{
        background-position: right;
    }
}